# Node modules
node_modules/

# Cypress output
cypress/videos/
cypress/screenshots/

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env

# VS Code
.vscode/

# Coverage
coverage/

# Build output
dist/
build/

# Others
*.log
